spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/attendly_db
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

logging:
  level:
    com.attendly: DEBUG
